.portfolio-block.block-intro {
  margin-top: -10px;
  /*margin-bottom: -22px;*/
}

.gradient {
  background: linear-gradient(120deg,#000,#121212);
  color: #fff;
}

.portfolio-block.photography {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.portfolio-block.block-intro .about-me {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: -45px;
}

.row.row-cols-4.myapps-secondrow {
  margin-top: 2%;
}

.row.myapps-row2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#projects-text {
  padding-bottom: 15px;
}

.line-break {
  height: 0.7px;
  opacity: 0.4;
  background: #f9f9f9;
  margin-bottom: 3%;
}

.page-footer .social-icons a {
  color: #000;
  margin: 0 3px;
  background-color: white;
}

img, svg {
  vertical-align: middle;
  opacity: 1.0;
  margin-top: 2%;
}

#bnw-banner {
  height: 550px;
  width: 100%;
}

#google-play-btn {
  margin-left: 10px;
}

